.social-sharing {
  width: 100%;
  clear: both;
  margin: 2em 0;
  display: flex;
  align-items: center;
}

.social-sharing__label {
  font-size: inherit;
  margin: .3rem 0 .5rem;
}

.social-sharing__buttons {
  display: flex;
  margin-left: .6rem;
}

a.share-link {
  width: 3.6rem;
  height: 3.6rem;
  margin: .4rem;
  text-decoration: none;
  transition: scale .2s;
}

a.share-link:focus,
a.share-link:hover {
  outline: 3px solid #fff;
  outline-offset: 0px;
  box-shadow: 0 6px 0 0 #333;
  transform: scale(1.2);
}

.share-link.twitter-share {
  background-color: rgb(27, 149, 224);
}

.share-link.facebook-share {
  background-color: rgb(59, 89, 152);
}

.share-link.email-share {
  background-color: rgb(1, 102, 255);
}

.share-link__button {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 0;
  opacity: 1;
}

.share-link__button svg {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  display: block;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  top: 0;
  width: auto;
  height: auto;
}
