.social_sharing {
  height: 32px;
}
.social_sharing_label {
  font-size: 1.8rem;
  float: left;
  padding-bottom: 5px;
}
.social_sharing_buttons {
  box-sizing: border-box;
  display: inline;
}
.facebook_share, .twitter_share, .email_share {
  border-radius: 4px;
  line-height: 32px;
  opacity: 1;
  width: 32px;
  float: none;
  display: inline-block;
}
.twitter_share {
  background-color: rgb(85, 172, 238);
}
.facebook_share {
  background-color: rgb(59, 89, 152);
}
.email_share {
  background-color: rgb(1, 102, 255);
}
.facebook_share svg, .twitter_share svg, .email_share svg {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  display: block;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  top: 0;
  width: auto;
  height: auto;
}
svg.ico {
  display: none;
}
.facebook_share_link,
.twitter-share-button,
.email_share_link {
  margin-left: 5px;
}
