/*
  Hide the 'Editorial' sectional heading in the 'moderation state' exposed filter
  that appears in the admin content and workflow views
 */
body.path-admin form.views-exposed-form div.chosen-drop ul.chosen-results li.group-result {
  display: none;
}

.origins-audit-actions .button {
  margin: .5em !important;
}

/* Drupal revisions overview page. */
#edit-node-revisions-table th {
  color: #000; /* better contrast with th background */
}
#edit-node-revisions-table .revision-draft {
  background-color: #ffb3b3; /* pink */
}
#edit-node-revisions-table .revision-needs_review {
  background-color: #ffeeaa; /* yellow */
}
#edit-node-revisions-table .revision-published {
  background-color: #b6ffb6; /* light green */
}
#edit-node-revisions-table .revision-archived {
  background-color: #dfdfdf; /* light grey */
}
#edit-node-revisions-table a:not(.dropbutton a) {
  color: #00558a; /* darken link color for better contrast */
  text-decoration: underline;
}
