.file--ico {
  font-weight: 500;
  display: block;
  min-height: 3rem;
  padding-left: 3rem;
  position: relative;
  /*border: 1px solid red !important;*/
}
.file--ico::before {
  background-position-y: bottom;
  background: url('/themes/custom/nicsdru_origins_theme/images/nigov-file-icons.svg') -750px 0 / auto no-repeat;
  content: '';
  position: absolute;
  left: 1rem;
  top: 0;
  height: 3rem;
  width: 3rem;
}

.file--ico__word::before {
  background-position-x: 0;
}

.file--ico__pdf::before {
  background-position-x: -75px;
}

.file--ico__excel::before {
  background-position-x: -150px;
}

.file--ico__powerpoint::before {
  background-position-x: -225px;
}

.file--ico__opendocument-text::before {
  background-position-x: -300px;
}

.file--ico__opendocument-spreadsheet::before {
  background-position-x: -375px;
}

.file--ico__opendocument-presentation::before {
  background-position-x: -450px;
}

.file--ico__csv::before {
  background-position-x: -525px;
}

.file--ico__zip::before {
  background-position-x: -600px;
}

.file--ico__html::before {
  background-position-x: -675px;
}
