.content-issue-layout {
  display: flex;
  width: 100%;
  column-gap: 20px;
}

.content-issue-layout > * {
  padding: 0.5em;
}

.content-issue-main {
  flex: 2 70%;
}

.content-issue-side {
  flex: 1 30%;
  padding: 2em;
  margin-top: 1em;
  background-color: #f3f4f9;
}

.content-issue-comments {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #f3f4f9;
}

.content-issue-side .field__label {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 0.8em;
  color: oklch(42% 0.041 260.031);
  letter-spacing: 0.1em;
  border-bottom: 1px solid #c3c4c9;
  margin-bottom: 0.5em;
}

.content-issue-side .field__item {
  margin-bottom: 2em;
}

.content-issue-dashboard {
  display: flex;
}

.content-issue-dashboard-main table {
  margin-top: 0;
  margin-bottom: 0;
}

.content-issue-dashboard-main table tbody tr td {
  padding: 0;
  height: auto;
}

.content-issue-dashboard-main {
  flex-grow: 3;
}

.content-issue-dashboard-aside {
  flex-shrink: 3;
  display: none;
  padding: 2.5em
}

.content-issue-dashboard-aside.open {
  width: 50%;
  flex-direction: column;
  border: 2px solid #f3f4f9;
  display: flex;
}

.content-issue-layout-close {
  margin-left: auto;
  display: inline-block;
  background-color: #f3f4f9;
  padding: 0.4em 1em;
  margin-top: -2.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.content-issue-layout-close img{
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

.content-issue-row {
  display: flex;
  gap: 10px;
  align-content: space-between;
  padding: 1em 0.5em;
  cursor: pointer;
}

.content-issue-row-main {
  flex-grow: 2;
}

.issue-number {
  font-size: 0.8em;
  font-weight: bold;
  color: #fff;
  background: #34D399;
  display: inline-block;
  padding: 0.1em 0.8em;
  margin-right: 1em;
  border-radius: 3px;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.issue-content-meta {
  font-size: 0.9em;
  color: #666;
  margin-top: 0.5em;
}

.issue-content-meta-type::after {
  content: ':'
}

.issue-content-meta-title {
  font-style: italic;
}

.content-issue-row-aside {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.issue-field,
.issue-field {
  display: flex;
  align-items: center;
  font-size: 0.9em;
}

.issue-field p {
  margin: 0 0 0 0.5em;
}

.status-icon {
  display: inline-block;
  background-color: #c4c4c4;
  border-radius: 50px;
  margin-left: 3px;
  height: 15px;
  width: 15px;
}

.todo { background-color: #9CA3AF; }
.inprogress { background-color: #FBBF24; }
.done { background-color: #34D399; }
.rejected { background-color: #F87171; }
.moreinforequired { background-color: #A78BFA; }
