.content-issue-layout {
  display: flex;
  width: 100%;
  column-gap: 20px;
}

.content-issue-layout > * {
  padding: 0.5em;
}

.content-issue-main {
  flex: 2 70%;
}

.content-issue-side {
  flex: 1 30%;
  padding: 2em;
  background-color: oklch(92.9% 0.013 255.508);
}

.content-issue-comments {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid oklch(72% 0.041 260.031);
}

.content-issue-side .field__label {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 0.8em;
  color: oklch(42% 0.041 260.031);
  letter-spacing: 0.1em;
  border-bottom: 1px solid oklch(72% 0.041 260.031);
  margin-bottom: 0.5em;
}

.content-issue-side .field__item {
  margin-bottom: 2em;
}
