.content-issue-layout {
  display: flex;
  width: 100%;
  column-gap: 20px;
}

.content-issue-layout > * {
  padding: 0.5em;
}

.content-issue-main {
  flex: 2 70%;
}

.content-issue-side {
  flex: 1 30%;
  padding: 2em;
  background-color: oklch(92.9% 0.013 255.508);
}

.content-issue-comments {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid oklch(72% 0.041 260.031);
}

.content-issue-side .field__label {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 0.8em;
  color: oklch(42% 0.041 260.031);
  letter-spacing: 0.1em;
  border-bottom: 1px solid oklch(72% 0.041 260.031);
  margin-bottom: 0.5em;
}

.content-issue-side .field__item {
  margin-bottom: 2em;
}

.content-issue-dashboard-main table tbody tr td {
  padding: 0;
  height: auto;
}

.content-issue-row {
  display: flex;
  gap: 10px;
  align-content: space-between;
  padding: 1em 0.5em;
  cursor: pointer;
}

.content-issue-row-main {
  flex-grow: 2;
}

.issue-number {
  font-size: 0.8em;
  color: #fff;
  background: #34D399;
  display: inline-block;
  padding: 0.2em 1em;
  margin-right: 1em;
  border-radius: 3px;
}

.issue-content-meta {
  font-size: 0.9em;
  color: #666;
  margin-top: 0.5em;
}

.issue-content-meta-type::after {
  content: ':'
}

.issue-content-meta-title {
  font-style: italic;
}

.content-issue-row-aside {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.issue-field,
.issue-field {
  display: flex;
  align-items: center;
}

.issue-field p {
  margin: 0 0 0 0.5em;
}

.status-icon {
  display: inline-block;
  background-color: #c4c4c4;
  border-radius: 50px;
  height: 24px;
  width: 24px;
}

.todo {
}

.in-progress {

}

.done {}
.rejected {}
.more-info-required {
}
