# Match the site repositories: level 0 with Drupal and deprecation rules.
parameters:
  level: 0
  reportUnmatchedIgnoredErrors: true
  fileExtensions:
    - module
    - theme
    - inc
    - install
    - profile
    - engine
  # CI supplies the package path when invoking PHPStan.
  disallowedFunctionCalls:
    - function: var_dump
      message: 'This is likely not intended to be used outside of local development, please remove it.'
    - function: dump
      message: 'This is likely not intended to be used outside of local development, please remove it.'
    - function: kint
      message: 'This is likely not intended to be used outside of local development, please remove it.'
    - function: ksm
      message: 'This is likely not intended to be used outside of local development, please remove it.'
    - function: die
      message: 'This is likely not intended to be used outside of local development, please remove it.'
    - function: exit
      message: 'This is likely not intended to be used outside of local development, please remove it.'
