/* Overrides for Claro admin theme. */
.entity-subqueue-form .js-form-item-items-add-more-new-item-target-id {
  margin-top: 0;
}
/* Ensure that table borders shown in CKEditor 5 in Firefox */
.ck .ck-content .table td {
  position: static;
}
/* Make column 1 full width on node edit/add forms */
#block-claro-content .layout-node-form .layout-region--node-main,
#block-claro-content .layout-node-form .layout-region--node-footer {
  width: 100%;
}
