<div {{ attributes.addClass(settings.extra_classes) }}>
  <div class="layout-region layout-region-left">
    {{ content.left }}
  </div>
  <div>
    <div class="layout-region layout-region-right-top">
      {{ content.right_top }}
    </div>
    <div class="layout-region layout-region-right-bottom">
      {{ content.right_bottom }}
    </div>
  </div>
</div>
