{% if content %}
<div {{ attributes.addClass(settings.extra_classes) }}>
  <div class="layout__region--left">
    {{ content.left }}
  </div>
  <div class="layout__region--center">
    {{ content.center }}
  </div>
  <div class="layout__region--right">
    {{ content.right }}
  </div>
</div>
{% endif %}
