{% if content %}
<div {{ attributes.addClass(settings.extra_classes) }}>
  {% if settings.title %}
    <div>
      <h2>{{ settings.title }}</h2>
    </div>
  {% endif %}
  <div class="layout__region--center">
    {{ content.center }}
  </div>
</div>
{%  endif %}

{{ kint() }}
