<div {{ attributes.addClass(settings.extra_classes) }}>
  <div class="left-region">
    {{ content.left }}
  </div>
  <div>
    <div class="right-top-region">
      {{ content.right_top }}
    </div>
    <div class="right-bottom-region">
      {{ content.right_bottom }}
    </div>
  </div>
</div>
