{% if content %}
<div {{ attributes.addClass(settings.extra_classes) }}>
  <div class="layout-region layout-region-left">
    {{ content.left }}
  </div>
  <div class="layout-region layout-region-right">
    {{ content.right }}
  </div>
</div>
{%  endif %}
