{% extends "@origins_layouts/origins-layouts-base.html.twig" %}

{% block regions %}
  <div class="layout__region--left-outer">
    {{ content.left_outer }}
  </div>
  <div class="layout__region--left-inner-">
    {{ content.left_inner }}
  </div>
  <div class="layout__region--right-inner">
    {{ content.right_inner }}
  </div>
  <div class="layout__region--right-outer">
    {{ content.right_outer }}
  </div>
</div>
{% endblock %}
