{% if content %}
<div {{ attributes.addClass(settings.extra_classes) }}>
  <div class="layout__region--left">
    {{ content.left }}
  </div>
  <div>
    <div class="layout__region--right-top">
      {{ content.right_top }}
    </div>
    <div class="layout__region--right-bottom">
      {{ content.right_bottom }}
    </div>
  </div>
</div>
{% endif %}
