<div {{ attributes.addClass(settings.extra_classes) }}>
  <div class="main-region">
    {{ content.main }}
  </div>
  <div>
    <div class="sidebar-top-region">
      {{ content.sidebar_top }}
    </div>
    <div class="sidebar-bottom-region">
      {{ content.sidebar_bottom }}
    </div>
  </div>
</div>
