<div {{ attributes.addClass(settings.extra_classes) }}>
  <div class="sidebar-one-region">
    {{ content.sidebar_one }}
  </div>
  <div class="main-region">
    {{ content.main }}
  </div>
  <div class="sidebar-two-region">
    {{ content.sidebar_two }}
  </div>
</div>
