.block-origins-translations-block {
  background: #4478b8;
  margin-right: 288px;
  max-width: 1024px;
  padding: 0;
  margin: auto !important;
}

.block-origins-translations-block h2 {
  color: #fff;
  background: #4478b8;
  border: none;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-family: inherit;
  font-size: inherit;
  -moz-osx-font-smoothing: grayscale;
  padding: .5em 20px;
  margin-bottom: auto;
}


#edit-translations-button {
  display: none;
}

